:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100vh;
}

header{
    height: 300px;
    display: grid;
    place-content: center;
}

#str {
   font-size: 70px;
   color: #111010;
   font-weight: bold;
   text-align: center;
   font-family: sans-serif;
   margin: 30px;
   
   animation-name: appear;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: cubic-bezier(0.41, -0.1, 1, 1);
}


@keyframes appear {
  16.66%,
  50%,
  56%,
  83.31% {
    opacity: 0%;
  }
  0%,
  33.33%,
  66.65%,
  100% {
    opacity: 100%;
  }
}


main{
    display: grid;
    place-content: center;
}

p, h1 {
  color: #607D8B;
  text-align: center;
  width: 600px;
}

p {
  font-size: 18px;
}

#container{
    position: relative
}

#move {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    font-size: 30px;

    animation-name: moving;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5.5s;
}

@keyframes moving {
    0%
     {
      left: -100px;
      color: black;
    }
    50% {
        left: 200px;
        color: orangered;
    }
    100% {
        left: 500px;
        color: black;
    }
    
  }