.external-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;

  box-shadow: 0px 0px 9px #a5a9aa;
  border-radius: 10px;
}

.flagimg {
  width: 150px;
  height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
  box-shadow: -1px 4px 8px 0px #857b7b75, 16px 14px 20px 3px #98989ca1;
}
