*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; /* 100% = 16px, 62.5%=10px (100*10/16px = 62.5%) */
    font-family: 'Montserrat', sans-serif;
} 

body {
    box-sizing: border-box; /*defines how the width and height of an element are calculated*/
    min-height: 100vh;
}

header {
    background-image: linear-gradient(to right bottom, rgb(32 117 183 / 65%), rgb(2 10 14 / 61%)),url(/day26_DOM6/images/globe-2.jpg);
    
    background-repeat: no-repeat;
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

    color: white;
    font-size: 1.8rem;
}

.titles-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    
}

h1 {
    font-size: 6rem;
    letter-spacing: 0.5rem;
    word-spacing: 3px;
    text-align: center;
}

.buttons-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

button {
    background-color: #603ab7;
    color: white;
    padding: 1.5rem;
    border: none;
    box-shadow: grey;
    box-shadow: 0px 10px 13px 0px #222225f2;
    cursor: pointer;
}

img {
    width: 2rem;
    height: 2rem;
    filter: invert(1)
}

.sort-btn {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.4rem solid #04034a;
}

input {
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    width: 40rem;
}