*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; /* 100% = 16px, 62.5%=10px (100*10/16px = 62.5%) */
    font-family: 'Montserrat', sans-serif;
} 

body {
    box-sizing: border-box; /*defines how the width and height of an element are calculated*/
    min-height: 100vh;

    color: #5c5c5c;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

#countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
    background-color: #eaeaea;
    width: 100%;
}

h2 {
    color: rgba(252, 163, 9, 0.911);;
    font-size: 5.5rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.graph-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

button {
    background-color:rgba(246 156 0 / 91%);
    padding: 1rem;
    color: #373737;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    border:none;
    box-shadow: 0px 4px 7px 0px rgb(144 139 139 / 78%);
}

button:hover {
    background-color: rgb(255 77 15);
    
}

button:active{
    background-color:rgba(246 156 0 / 91%);
    box-shadow: none;
}

/*Stat graph*/
.graph_background {
    width: 100%;
    height: 100vh;
    background-color: #eaeaea;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
}

/* esto aparece al apretar los botones  */
.graphs-stat{
    width: 80%;
    margin: 0;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.graph-stat--name {
    height: 2rem;
    width: 20rem;
    text-align: right;
}

.graph-stat--bar {
    height: 3.5rem;
    flex-grow: 1;
  
    /*background: linear-gradient(to right, rgb(255 77 15) 75%,#ffffff 75%);*/
    border-radius: 0.4rem;
}

.graph-stat--number {
    height: 2rem;
    width: 20rem;
}
